$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
// endbower

@import "materialize-min";
@import "animate";

html, body {
  height: 100%;
  overflow: hidden;
  position: relative;
  font-size: 13px;
}

nav {
  ul {
    a {
      font-size: 1.3rem;
      padding: 0 10px;

      i.left {
        margin-right: 2px;
      }

      i.right {
        margin-left: 0px;
      }
    }

    [data-activates="sort-options"] {
        padding-right: 0;
        font-size: 1rem;
    }
  }

  .brand-logo {
    font-size: 1.5rem;
  }

  ul.right {
    li {
      margin-left: -4px;
    }
  }
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h2.page-title {
  font-size: 20pt !important;
  font-weight: bolder;
  text-align: center;
}

.side-nav {
  position: absolute !important;
  top: 56px;
  left: 0px;
  bottom:0px;
  overflow: auto;

  a {
    height: 48px;
    line-height: 48px;
  }
}

#sort-options {
  width: auto !important;
  right: 0px !important;
  top: 56px !important;
  left: auto !important;
  z-index: 2;
}

#loading {
  position: absolute;
  top: 70px;
  left: 50%;
  margin-left:-18px;
}

.content {

  .card .card-image img {
    display: block;
  }

  position: absolute;
  top: 56px;
  bottom: 56px;
  left: 0px;
  right: 0px;
  overflow: auto;

  .food-card {
    position: relative;
    padding: 2px;

    @for $i from 0 through 9 {
      &:nth-child(#{$i}) { animation-duration: 0.25s * $i; }
    }

    .card {
      margin: 0;
      min-height: 180px;
      background-repeat: no-repeat;
      background-size: cover;

      .card-image {
        padding: 0;
      }

      .tag {
        display: inline-block;
        padding: 4px 12px;
        border-radius: 48px;
        margin: 10px;
        max-width: 95%;
        background-color: rgba(0,0,0,0.1);
        text-shadow: 0 1px 1px rgba(0,0,0,0.5);
        white-space: nowrap;
        word-break: keep-all;
        overflow: hidden;
      }

      .card-title {
        text-overflow: ellipsis;
        font-size: 14px;
        float: left;
      }

      .card-amount {
        float: right;
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
      }

      .card-price {
        position: absolute;
        bottom: 2px;
        right: 2px;
        left: auto;
        top: auto;
        font-size: 24px;
        color: #fff;
        padding: 0px 10px;
        margin: 4px;

        del {
          font-style: italic;
          font-size: 14px;
        }
      }
    }

    .card-back {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: auto;
      margin: 0px;
      padding: 10px;
      display: none;
      background-color: #fff;

      h2 {
        line-height: 24px;
        font-size: 16px;
        margin: 0 0 10px 0;
        padding: 0 0.75rem;
        white-space: nowrap;
        word-break: keep-all;
      }
    }

    &.turn {

      .card {
        animation-name: turnOut;
        animation-duration: 0.5s !important;
      }

      .card-back {
        display: block;
        z-index: 2;
        animation-name: turnIn;
      }
    }
  }
}

.food-details {

  .food-picture {
    max-width: 100%;

    img {
      max-width: 100%;
    }
  }
}

footer {

  &.navbar-fixed {
    position: fixed;
    top: auto;
    bottom: 0px;
    left:0;
    right:0;

    nav {
      position: static;
      max-width: 480px;
      margin: auto;
    }

    .btn-large i {
      font-size: 2.4rem;
      line-height: 3.2rem;
    }

    .col {
      padding: 0;

      a {
        display: block;
        padding: 0 0.2em;
        line-height: 12px;
        font-size: 0.8rem;
        color: #fff;

        span {
          display: block;
          margin-top: -4px;
        }

      }
    }
  }
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {

}

@media only screen and (min-width: 601px) {

  .side-nav {
    top: 64px;
  }

  #sort-options {
    top: 64px !important;
  }

  #sort-options {
    li {
      i {
        height: auto;
        line-height: inherit;
      }
    }
  }

  .content {
    top: 64px;
    bottom: 64px;
  }

  footer {

    &.navbar-fixed {
      .btn-large {
        height: 64px;
        line-height: 64px;

        i {
          font-size: 3rem;
          line-height: 4rem;
        }
      }
    }
  }
}

