<!--
  "picture_path": "images/foods/01.jpg",
  "big_picture_path": "images/foods/01.jpg",
  "menu_id": "food-xxxx-0001",
  "menu_name": "干锅茶树菇",
  "price_real": 25,
  "price_favorrable": 18,
  "menu_order": 1,
  "menu_unit": "份",
  "sail_num": 1209,
  "comment_score": 4,
  "content": ""
-->

<div class="row">
  <div class="food-card animated slideInUp col s6 m4 l2"
      ng-repeat="food in foods">

    <div class="card-back card animated">
        <h2 ng-bind="food.menu_name"></h2>
        <div class="row">
          <div class="col s4">价格</div>
          <div class="col s8">{{food.price_real}}元，<i class="overline">{{food.price_favorrable}} 元</i></div>
        </div>
        <div>
          <a class="btn-food-detail modal-trigger" data-target="foodDetailsModal"  ng-click="showDetail($event, food)">详情</a>
        </div>
    </div>

    <div class="card animated" ng-click="turnCard($event, food)" ng-style="{backgroundImage: 'url({{food.picture_path}})'}">
        <div class="card-image">
          <!-- <img ng-src="{{ food.picture_path }}"> -->
          <span class="card-title" ng-bind="food.menu_name"></span>
        </div>
    </div>


  </div>
</div>
